{% extends "base.html" %}

{% block content %}

    <section class="archive">
        <div class="archive-title">
            <h1>Archive.</h1>
            <p>This is an archive about everything that I been doing in the past few years.</p>
        </div>

        <div class="archive-items">
            <ul>
                <li class="box-hover-effect"><div>&lt&gt</div><p>Principais estruturas de dados em Python.</p></li>
                <li class="box-hover-effect"><div>&lt&gt</div><p>Principais estruturas de dados em Python.</p></li>
                <li class="box-hover-effect"><div>&lt&gt</div><p>Principais estruturas de dados em Python.</p></li>
                <li class="box-hover-effect"><div>&lt&gt</div><p>Principais estruturas de dados em Python.</p></li>
            </ul>
        </div>

        <div class="archive-subtitle">
            <p><b>Subtitle:</b></p>
            <ul>
                <li>
                    <div>&lt&gt</div>
                    <p>Blog Posts.</p>
                </li>
                <li>
                    <div>&lt&gt</div>
                    <p>Projects developed.</p>
                </li>
            </ul>
        <div>

    </section>


    <section class="background">
        <img id="tech-background" src="/media/assets/Dots.png"></img>
    </section>

{% endblock %}