{% extends "base.html" %}

{% block content %}

    <section class="archive">
        <div class="archive-title">
            <h1>Archive.</h1>
            <p>This is an archive about everything that I been doing in the past few years.</p>
        </div>

        <div class="archive-items">
            <ul>
                {% for item in arquivo %}
                    <li class="box-hover-effect"><div>&lt&gt</div><p>{{item.title}}</p></li>
                {% endfor %}
                
            </ul>
        </div>

    </section>


    <section class="background">
        <img id="tech-background" src="/media/assets/Dots.png"></img>
    </section>

{% endblock %}