{% extends "base.html" %}

{% block content %}

    <section class="archive">
        <div class="archive-title">
            <h1>Arquivo.</h1>
            <p>Este é um arquivo sobre tudo o que tenho feito nos últimos meses.</p>
        </div>

        <div class="archive-items">
            <ul>
                {% for item in arquivo %}
                    <li onclick="openPortfolio('archive/{{item.pk}}')" class="box-hover-effect"><div>&lt&gt</div><p>{{item.title}}</p></li>
                {% endfor %}
                
            </ul>
        </div>

    </section>


    <section class="background">
        <img id="tech-background" src="/media/assets/Dots.png"></img>
    </section>

{% endblock %}