{% extends "base.html" %}

{% block content %}

    <section class="home">
        <div class="home-title">
            <h2><b>#Meu nome é Lucas Schimidt,</b></h2>
            <h1>Bem vindo(a) ao meu Portfolio.</h1>
        </div>

        <div class="home-resume">
            <p>Baixe meu currículo:</p>
            <a class="box-hover-effect" href="/media/resume/Curriculo_2024.pdf" download><i class="bi bi-file-earmark-medical"></i>Resume.pdf</a>
        </div>

        <div class="home-work">
            <p>Trabalhos mais recentes:</p>
            <ul>
                <li onclick="openPortfolio('archive/{{ultimos_trabalhos.0.pk}}')" class="box-hover-effect">
                    <img src="/media/assets/listras.jpg"></img>
                    <div>
                        <p><b>{{ultimos_trabalhos.0.title}}</b></p>
                    <div>
                </li>
                <li onclick="openPortfolio('archive/{{ultimos_trabalhos.1.pk}}')" class="box-hover-effect">
                    <img src="/media/assets/ondas.jpg"></img>
                    <div>
                        <p><b>{{ultimos_trabalhos.1.title}}</b></p>
                    <div>
                </li>
                <li onclick="openPortfolio('archive/{{ultimos_trabalhos.2.pk}}')" class="box-hover-effect">
                    <img src="/media/assets/quebracabeca.jpg"></img>
                    <div>
                        <p><b>{{ultimos_trabalhos.2.title}}</b></p>
                    <div>
                </li>
                <li onclick="openPortfolio('archive/{{ultimos_trabalhos.3.pk}}')" class="box-hover-effect">
                    <img src="/media/assets/xises.jpg"></img>
                    <div>
                        <p><b>{{ultimos_trabalhos.3.title}}</b></p>
                    <div>
                </li>
            </ul>
        </div>

        <div class="home-blog">
            <p>Outras postagens e criações:</p>
            <ul>
                <li onclick="openPortfolio('archive/{{ultimos_blogs.0.pk}}')" class="box-hover-effect"><div>&lt&gt</div><p>{{ultimos_blogs.0.title}}</p></li>
                <li class="box-hover-effect"><div>&lt&gt</div><p>{{ultimos_blogs.1.title}}</p></li>
                <li class="box-hover-effect"><div>&lt&gt</div><p>{{ultimos_blogs.2.title}}</p></li>
                <li class="box-hover-effect"><div>&lt&gt</div><p>{{ultimos_blogs.3.title}}</p></li>
            </ul>
        </div>
    </section>

    <section class="background">
        <img id="tech-background" src="/media/assets/Dots.png"></img>
    </section>




{% endblock  %}