{% extends "base.html" %}

{% block content %}

    <section class="tech">

        <div class="tech-title">
            <h1>Tech & Knowledge.</h1>
            <p>These are the technologies and subjects I currently am learning or making projects with:</p>
        </div>

        <div class="tech-items">
            <ul>
                <li>
                    <div class="tech-badge">
                    </div>
                    <div class="tech-logo">

                    </div>
                    <div class="tech-name">
                        <p><b>Python</b></p>
                    </div>
                </li>
                <li>
                    <div class="tech-badge">
                    </div>
                    <div class="tech-logo">
                        
                    </div>
                    <div class="tech-name">
                        <p><b>Git</b></p>
                    </div>
                </li>
                <li>
                    <div class="tech-badge">
                    </div>
                    <div class="tech-logo">
                        
                    </div>
                    <div class="tech-name">
                        <p><b>Git</b></p>
                    </div>
                </li>
                <li>
                    <div class="tech-badge">
                    </div>
                    <div class="tech-logo">
                        
                    </div>
                    <div class="tech-name">
                        <p><b>Git</b></p>
                    </div>
                </li>
                <li>
                    <div class="tech-badge">
                    </div>
                    <div class="tech-logo">
                        
                    </div>
                    <div class="tech-name">
                        <p><b>Git</b></p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="tech-subtitle">
            <p><b>Subtitle:</b></p>
            <ul>
                <li>
                    <div class="tech-dot" id="green-dot"></div>
                    <p>+3 years.</p>
                </li>
                <li>
                    <div class="tech-dot" id="orange-dot"></div>
                    <p>+2 years.</p>
                </li>
                <li>
                    <div class="tech-dot" id="red-dot"></div>
                    <p>+1 year.</p>
                </li>
                <li>
                    <div class="tech-dot" id="gray-dot"></div>
                    <p>Learning</p>
                </li>
            </ul>
        <div>

    </section>

    <section class="background">
        <img id="tech-background" src="/media/assets/Dots.png"></img>
    </section>

{% endblock %}