{% extends "base.html" %}

{% block content %}

    <section class="tech">

        <div class="tech-title">
            <h1>Techs & Conhecimento.</h1>
            <p>Estas são as tecnologias e assuntos que atualmente estou aprendendo ou desenvolvendo projetos com:</p>
        </div>

        <div id="sub-mobile" class="tech-subtitle">
            <p><b>Legenda:</b></p>
            <ul>
                <li>
                    <div class="tech-dot" id="green-dot"></div>
                    <p>+3 anos.</p>
                </li>
                <li>
                    <div class="tech-dot" id="orange-dot"></div>
                    <p>+2 anos.</p>
                </li>
                <li>
                    <div class="tech-dot" id="red-dot"></div>
                    <p>+1 ano.</p>
                </li>
                <li>
                    <div class="tech-dot" id="gray-dot"></div>
                    <p>Aprendendo</p>
                </li>
            </ul>
        </div>

        <div class="tech-items">
            <ul>
                {% for item in tech %}
                    <li class="box-hover-low-effect">
                        {% if item.type == 3 %}
                            <div class="tech-badge-3 tech-badge"></div>
                        {% endif %}
                        {% if item.type == 2 %}
                            <div class="tech-badge-2 tech-badge"></div>
                        {% endif %}
                        {% if item.type == 1 %}
                            <div class="tech-badge-1 tech-badge"></div>
                        {% endif %}
                        {% if item.type == 0 %}
                            <div class="tech-badge-0 tech-badge"></div>
                        {% endif %}
                        <div class="tech-logo"></div>
                        <div class="tech-name"><p><b>{{item.title}}</b></p></div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="sub-desktop" class="tech-subtitle">
            <p><b>Legenda:</b></p>
            <ul>
                <li>
                    <div class="tech-dot" id="green-dot"></div>
                    <p>+3 anos.</p>
                </li>
                <li>
                    <div class="tech-dot" id="orange-dot"></div>
                    <p>+2 anos.</p>
                </li>
                <li>
                    <div class="tech-dot" id="red-dot"></div>
                    <p>+1 ano.</p>
                </li>
                <li>
                    <div class="tech-dot" id="gray-dot"></div>
                    <p>Aprendendo</p>
                </li>
            </ul>
        </div>

    </section>

    <section class="background">
        <img id="tech-background" src="/media/assets/Dots.png"></img>
    </section>

{% endblock %}